<div class="modal-header">
    <h5 class="modal-title">Confirm Delete</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete this task?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button 
        class="btn btn-danger" 
        hx-delete="{{basePath}}/api/delete-task?id={{.ID}}&page={{.CurrentPage}}&project={{.ProjectFilter}}&status={{.StatusFilter}}" 
        hx-target="#task-container"
        hx-swap="innerHTML"
        data-bs-dismiss="modal"
    >
        Yes, Delete
    </button>
</div>

<div id="task-list"
    hx-get="{{basePath}}/api/get-next-item?page={{.CurrentPage}}&project={{.ProjectFilter}}&status={{.StatusFilter}}"
    hx-trigger="taskDeleted from:body"
    hx-target="#task-list"
    hx-swap="beforeend">
</div>


